/**
 * <Challenge Name>
 * @see {@link https://www.hackerrank.com/challenges/<challenge-name>/problem}
 */
function challenge(n, arr) {
  console.log({ n, arr });
  return null;
}

function toString(result) {
  return String(result);
}

function main(inputAsString) {
  const input = inputAsString.trim().split("\n");
  const n = parseInt(input.shift(), 10);
  const arr = input.map((line) => line.trim().split(" "));

  return toString(challenge(n, arr));
}

module.exports = main;
