const challenge = require("./${fileName}")

function main(inputAsString) {
  const input = inputAsString.trim().split("\n");
  const n = parseInt(input.shift(), 10);
  const arr = input.map((line) => line.trim().split(" "));
  const result = challenge(n, arr)

  return result.join("\n");
}

module.exports = main;
